html {
	--black-white: #1e1e23;
	--white-black: #ffffff;

	--white-dark: #ffffff;
	--dark-white: #3c3c46;

	--light-dark: #dcdcff;
	--dark-light: #3c3c46;

	--dark-yellow: #3c3c46;
	--blue-dark: #2380aa;
	--blue-light: #2380aa;
}

html,
body {
	width: 100%;
	font-size: 16px;
	font-weight: 500;
	min-height: 100vh;
	position: relative;
	font-style: normal;
	overflow-x: hidden;
	font-family: "Nunito", sans-serif;
	background-color: var(--white-black);
	-webkit-font-smoothing: antialiased;
	@include xl {
		font-size: 14px;
	}
	@include sm {
		font-size: 12px;
	}
}

/* owl */
.owl-dots {
	left: 50%;
	bottom: 4.8125rem;
	position: absolute;
	transform: translate(-50%, 0);
}

.owl-theme .owl-dots .owl-dot {
	zoom: 1;
	display: inline-block;
}

.owl-carousel button.owl-dot {
	border: none;
	font: inherit;
	color: inherit;
	background: 0 0;
	padding: 0 !important;
}

.owl-theme .owl-dots .owl-dot span {
	width: 2.5rem;
	display: block;
	height: 0.1875rem;
	transition: 0.2s ease;
	border-radius: 0.1rem;
	margin: 0.25rem 0.35rem;
	background-color: #dcdcff;
	-webkit-backface-visibility: visible;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
	width: 3.75rem;
	transition: 0.2s ease;
	background-color: #ffdc80;
}

.select2-dropdown {
	border-radius: 1.75rem !important;
	background-color: #005f9b !important;
	border: 1px solid #005f9b !important;
}
.select2-container--default .select2-results__option--selected,
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
	background-color: inherit !important;
}

.select2-container--default .select2-results__option--disabled {
	display: none !important;
}

.select2-results__option {
	padding: 1.15rem 1.875rem !important;
	color: #dcdcff !important;
	font-size: 1.3125rem !important;
	text-align: left !important;
	line-height: 1.3125rem !important;
	letter-spacing: 0 !important;
	font-family: "Nunito-Italic" !important;
	text-decoration: none !important;
	border-bottom: 0.125rem solid #2380aa !important;

	&:last-child {
		border-bottom: inherit !important;
	}
}

.select2-container--default .select2-results > .select2-results__options {
	max-height: 100% !important;
	overflow-y: hidden !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
	color: var(--dark-light) !important;
}

.select2-container--default .select2-selection--single {
	height: 3.4375rem !important;
	border-radius: 1.75rem !important;
	padding: 0.75rem 1.875rem !important;
	background-color: inherit !important;
	border: 0.125rem solid var(--blue-light) !important;
	color: var(--dark-light) !important;
	font-size: 1.3125rem !important;
	text-align: left !important;
	line-height: 1.3125rem !important;
	letter-spacing: 0 !important;
	font-family: "Nunito-Italic" !important;
	text-decoration: none !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
	top: 50% !important;
	right: 1rem !important;
	position: absolute !important;
	transform: translate(0%, -50%) !important;
	width: 1rem !important;
	height: 1rem !important;
	border: 0.125rem solid var(--blue-light) !important;
	border-radius: 50% !important;
	padding: 1rem !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
	border-color: var(--blue-light) transparent transparent transparent !important;
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
	border-color: transparent transparent var(--blue-light) transparent !important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
	padding-right: 0 !important;
	padding-left: 0 !important;
}
