// font-face Poppins
@font-face {
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  font-family: "Poppins-Black";
  src: url(../fonts/Poppins/Poppins-Black.woff2) format("woff2");
}

@font-face {
  font-weight: 900;
  font-style: italic;
  font-display: swap;
  font-family: "Poppins-BlackItalic";
  src: url(../fonts/Poppins/Poppins-BlackItalic.woff2) format("woff2");
}

@font-face {
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  font-family: "Poppins-Bold";
  src: url(../fonts/Poppins/Poppins-Bold.woff2) format("woff2");
}

@font-face {
  font-weight: bold;
  font-style: italic;
  font-display: swap;
  font-family: "Poppins-BoldItalic";
  src: url(../fonts/Poppins/Poppins-BoldItalic.woff2) format("woff2");
}

@font-face {
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  font-family: "Poppins-ExtraBold";
  src: url(../fonts/Poppins/Poppins-ExtraBold.woff2) format("woff2");
}

@font-face {
  font-weight: bold;
  font-style: italic;
  font-display: swap;
  font-family: "Poppins-ExtraBoldItalic";
  src: url(../fonts/Poppins/Poppins-ExtraBoldItalic.woff2) format("woff2");
}

@font-face {
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  font-family: "Poppins-ExtraLight";
  src: url(../fonts/Poppins/Poppins-ExtraLight.woff2) format("woff2");
}

@font-face {
  font-weight: 200;
  font-style: italic;
  font-display: swap;
  font-family: "Poppins-ExtraLightItalic";
  src: url(../fonts/Poppins/Poppins-ExtraLightItalic.woff2) format("woff2");
}

@font-face {
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  font-family: "Poppins-Light";
  src: url(../fonts/Poppins/Poppins-Light.woff2) format("woff2");
}

@font-face {
  font-weight: 300;
  font-style: italic;
  font-display: swap;
  font-family: "Poppins-LightItalic";
  src: url(../fonts/Poppins/Poppins-LightItalic.woff2) format("woff2");
}

@font-face {
  font-weight: normal;
  font-style: italic;
  font-display: swap;
  font-family: "Poppins-Italic";
  src: url(../fonts/Poppins/Poppins-Italic.woff2) format("woff2");
}

@font-face {
  font-weight: 500;
  font-style: italic;
  font-display: swap;
  font-family: "Poppins-MediumItalic";
  src: url(../fonts/Poppins/Poppins-MediumItalic.woff2) format("woff2");
}

@font-face {
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  font-family: "Poppins-Medium";
  src: url(../fonts/Poppins/Poppins-Medium.woff2) format("woff2");
}

@font-face {
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  font-family: "Poppins-SemiBold";
  src: url(../fonts/Poppins/Poppins-SemiBold.woff2) format("woff2");
}

@font-face {
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  font-family: "Poppins-Regular";
  src: url(../fonts/Poppins/Poppins-Regular.woff2) format("woff2");
}

@font-face {
  font-weight: 100;
  font-style: italic;
  font-display: swap;
  font-family: "Poppins-ThinItalic";
  src: url(../fonts/Poppins/Poppins-ThinItalic.woff2) format("woff2");
}

@font-face {
  font-weight: 600;
  font-style: italic;
  font-display: swap;
  font-family: "Poppins-SemiBoldItalic";
  src: url(../fonts/Poppins/Poppins-SemiBoldItalic.woff2) format("woff2");
}

@font-face {
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  font-family: "Poppins-Thin";
  src: url(../fonts/Poppins/Poppins-Thin.woff2) format("woff2");
}

// font-face Nunito
@font-face {
  font-weight: 900;
  font-style: italic;
  font-display: swap;
  font-family: "Nunito-BlackItalic";
  src: url(../fonts/Nunito/Nunito-BlackItalic.woff2) format("woff2");
}

@font-face {
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  font-family: "Nunito-Bold";
  src: url(../fonts/Nunito/Nunito-Bold.woff2) format("woff2");
}

@font-face {
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  font-family: "Nunito-Black";
  src: url(../fonts/Nunito/Nunito-Black.woff2) format("woff2");
}

@font-face {
  font-weight: normal;
  font-style: italic;
  font-display: swap;
  font-family: "Nunito-Italic";
  src: url(../fonts/Nunito/Nunito-Italic.woff2) format("woff2");
}

@font-face {
  font-weight: bold;
  font-style: italic;
  font-display: swap;
  font-family: "Nunito-BoldItalic";
  src: url(../fonts/Nunito/Nunito-BoldItalic.woff2) format("woff2");
}

@font-face {
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  font-family: "Nunito-ExtraBold";
  src: url(../fonts/Nunito/Nunito-ExtraBold.woff2) format("woff2");
}

@font-face {
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  font-family: "Nunito-ExtraLight";
  src: url(../fonts/Nunito/Nunito-ExtraLight.woff2) format("woff2");
}

@font-face {
  font-weight: bold;
  font-style: italic;
  font-display: swap;
  font-family: "Nunito-ExtraBoldItalic";
  src: url(../fonts/Nunito/Nunito-ExtraBoldItalic.woff2) format("woff2");
}

@font-face {
  font-weight: 200;
  font-style: italic;
  font-display: swap;
  font-family: "Nunito-ExtraLightItalic";
  src: url(../fonts/Nunito/Nunito-ExtraLightItalic.woff2) format("woff2");
}

@font-face {
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  font-family: "Nunito-Light";
  src: url(../fonts/Nunito/Nunito-Light.woff2) format("woff2");
}

@font-face {
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  font-family: "Nunito-Medium";
  src: url(../fonts/Nunito/Nunito-Medium.woff2) format("woff2");
}

@font-face {
  font-weight: 300;
  font-style: italic;
  font-display: swap;
  font-family: "Nunito-LightItalic";
  src: url(../fonts/Nunito/Nunito-LightItalic.woff2) format("woff2");
}

@font-face {
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  font-family: "Nunito-Regular";
  src: url(../fonts/Nunito/Nunito-Regular.woff2) format("woff2");
}

@font-face {
  font-weight: 600;
  font-style: italic;
  font-display: swap;
  font-family: "Nunito-SemiBoldItalic";
  src: url(../fonts/Nunito/Nunito-SemiBoldItalic.woff2) format("woff2");
}

@font-face {
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  font-family: "Nunito-SemiBold";
  src: url(../fonts/Nunito/Nunito-SemiBold.woff2) format("woff2");
}

@font-face {
  font-weight: 500;
  font-style: italic;
  font-display: swap;
  font-family: "Nunito-MediumItalic";
  src: url(../fonts/Nunito/Nunito-MediumItalic.woff2) format("woff2");
}
