@import '../constants/mixins';
@import '../constants/variables';
@import '../constants/generics';

.about {
  z-index: 4;
  width: 100%;
  height: auto;
  position: relative;

  .aboutCtn {
    padding: 3.75rem 1.875rem 3.625rem;
    @include maxContainer();
    @include sm {
      padding: 3.75rem 1.325rem 3.625rem;
    }

    .aboutCtnGrid {
      @include displayGrid($gap: 1.25rem, $align: flex-start, $justify: space-between, $columns: repeat(3, 1fr));
      @include md {
        grid-template-columns: repeat(2, 1fr);
      }
      @include sm {
        grid-template-columns: repeat(1, 1fr);
      }

      & > li {
        width: 100%;
        height: 100%;
        position: relative;
        min-height: 13.125rem;
        padding: 2.3125rem 2.5rem;

        &:before {
          top: 0;
          left: 0;
          z-index: -1;
          content: '';
          width: 100%;
          position: absolute;
          border-radius: 1.75rem;
          height: calc(100% - 2rem);
          border: 0.1875rem solid var(--blue-light);
          background-color: var(--white-black);
        }

        &:after {
          top: 0;
          left: 0;
          z-index: -1;
          content: '';
          height: 100%;
          position: absolute;
          width: calc(100% - 2rem);
          border: 0.1875rem solid var(--blue-light);
          background-color: var(--white-black);
          border-radius: 1.75rem 0 1.75rem 1.75rem;
          border-right: inherit;
        }

        & > div {
          @include displayGrid();

          & > h2 {
            padding-bottom: 0.875rem;
            @include fontStyles($family: 'Poppins-Bold', $color: var(--blue-light), $size: 1.375rem, $height: 1.875rem);
          }

          & > p {
            @include fontStyles(
              $family: 'Nunito-Medium',
              $color: var(--dark-light),
              $size: 1.125rem,
              $height: 1.625rem
            );
          }
        }
      }
    }
  }
}
