@import "../constants/mixins";
@import "../constants/variables";
@import "../constants/generics";

.follow {
  z-index: 4;
  width: 100%;
  height: auto;
  position: relative;
  background-color: #2380aa;

  .followCtn {
    padding: 3.5rem 1.875rem 7.1875rem;
    @include maxContainer();
    @include sm {
      padding: 3.5rem 1.325rem 7.1875rem;
    }

    .followCtnGrid {
      @include displayGrid();

      .followCtnGridTitle {
        padding-bottom: 1.875rem;
        @include displayGrid($gap: 1.875rem, $justify: flex-start, $columns: repeat(2, auto));

        & > img {
          margin-top: 0.7rem;
        }

        .followCtnGridTitleText {
          @include displayGrid($gap: 0.5625rem);

          & > h2 {
            @include fontStyles($family: "Poppins-Bold", $color: #dcdcff, $size: 2rem, $height: 2.5rem);
          }

          & > div {
            @include displayGrid($gap: 0.9375rem, $align: center, $justify: flex-start, $columns: repeat(2, auto));

            & > p {
              @include fontStyles($family: "Nunito-Medium", $color: #dcdcff, $size: 1.3125rem, $height: 1.875rem);
            }

            & > img {
              width: 1.875rem;
              height: 1.875rem;
            }
          }
        }
      }

      .followCtnGridList {
        @include displayGrid($gap: 1.25rem, $columns: repeat(6, 1fr));
        @include sm {
          grid-template-columns: repeat(2, 1fr);
        }

        & > li {
          @include displayGrid($gap: 0.9375rem);

          & > div {
            width: 100%;
            height: 100%;
            position: relative;
            border-radius: 1.25rem;
            border: 0.25rem solid #ffdc80;

            & > img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              border-radius: 1rem;
            }
          }

          & > a {
            @include fontStyles($family: "Nunito-Bold", $color: #dcdcff, $size: 0.9375rem, $decoration: underline);
          }
        }
      }
    }
  }
}
